* {
  
  margin: 0;
  font-family: roboto;

}

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkgray;
  color: white;
  text-align: center;
  opacity: 0.9;
}

.textMainPage{
  padding-left: 128px;
  padding-right: 128px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.boxLinks{
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;
  padding-top: 4%;
  justify-content: space-evenly;
}

.App {
  text-align: center;
}

body,
.wrapper {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.novBody{
  text-align: center;
  background-color: lightgray;
  background-size: contain;
  height: 100%;
  background-attachment: fixed;
  background-image: url("https://i.imgur.com/3NTsjCv.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
.novSplash{
  padding-top: 2%;
  width: 30%;
  height: 30%;
}

.NN{

  padding-top:4%;
  width: 50%;
  height: 60%;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-attachment: fixed;
}